
.primaryText1 {
    color: #1f3e72;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    
  }
  

  
.orangeText1 {
    color: orange;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding-top: 50px;
  }